<div class="iapp-politician-index-intro">
    <div class="iapp-politician-index-intro-inner-wrap">
        <p class="iapp-index-intro-chatter">USA Today and Facebook have partnered to map conversation about the presidential candidates as it moves across the nation. The interactive below displays total Facebook activity (likes, shares, mentions) for each candidate each week, showing who is trending up and who is trending down. You can see the total activity and a breakdown of who is participating in the conversation about each contender. Click the map to see where each candidate has the strongest and weakest presence in the Facebook conversation.</p>
    </div>
</div>
