<div class="iapp-politician-index-intro">
    <div class="iapp-politician-index-intro-inner-wrap">
        <h2 class="iapp-index-intro-header">2016 USA TODAY/Facebook candidate barometer</h2>
        <hr class="iapp-index-intro-rule" />
        <p class="iapp-index-intro-chatter">USA Today and Facebook have partnered to map conversation about the presidential candidates. The interactive below displays total Facebook activity (likes, shares, mentions) for each candidate each week, showing who is trending up and down. </p>
    </div>
</div>
