<h3 class="iapp-info-header">About the data</h3>
<p class="iapp-info">State engagement level is measured by the percent of all Facebook users in a given state who have interacted with a given candidate. Interactions include likes, comments and mentions.</p>
<p class="iapp-info"><strong>Credits: </strong> Paul Singer, Shawn Sullivan, Kevin Kepple, Mitchell Thorson, USA TODAY; Ogo Batzorig, Gannett Digital</p>
<p class="iapp-info"><strong>Source: </strong> Facebook data</p>

<img class="iapp-info-close" src="<% print(config.imageDir + "close-icon.png") %>" alt="close">
