<div class="iapp-politician-index-wrap"></div>
<div class="iapp-politician-index-sort-buttons">
    <span class="iapp-politician-index-sort-label">Sort by: </span>
    <span class="iapp-politician-index-sort-button iapp-sort-button-name selected">Name</span>
    <span class="iapp-politician-index-sort-button iapp-sort-button-trend">Trending</span>
    <span class="iapp-politician-index-sort-button iapp-sort-button-party">Party</span>
</div>
<div class="iapp-politician-index-show-button">See all candidates</div>

