/************

Colors

************/

$dark-blue: #144F71;
$blue: #1B9CFA;
$blue1:  #90B8CA;
$blue2: #235468;
$red1: #F3E7E8;
$red2: #742B31;
$light-blue: #9ed5fb;
$dark-grey: #4A4A4A;
$medium-grey: #6D6E70;
$light-grey: #D8D8D8;
$extra-light-grey: #F3F3F3;
$orange: #FA6622;
$green: #388E3C;
$green2: #1d9c34;
$purple: #9d29ba;
$teal: #1fc0bf;
$yellow: #f6b900;

$greater-color: #33b8f2;
$less-color: #81d102;
$none-color: #ff8b00;



