.iapp-entries-wrap {
    height: 787px;
    position: absolute;
    top: 190px;
    width: 100%;
}

.iapp-entry-details {
    background: $extra-light-grey;
    display: table-cell;
    float: right;
    padding: 30px;
    width: 305px;
    height: 100%;

    @media (max-width: 950px) {
        height: 300px;
        width: 100%;
    }
}

.iapp-entry-details-header {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
}

.republican .iapp-entry-details-header { color: $red2; }
.democrat .iapp-entry-details-header { color: $blue2; }

.iapp-entry-details-subheader {
    border-bottom: solid 1px $dark-grey;
    font-family: "Futura Today Light", Arial, sans-serif;
    margin: 0;
}

.iapp-entry-details-large-number {
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 2em;
    margin: 10px 0;
}

.iapp-entry-details-demographics-overall {
    background-color: $light-grey;
    padding-top: 10px;
}

.iapp-entry-details-demographics-overview-bar {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.iapp-entry-details-demographics-overall-headers {
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 1em;
    text-align: center;

    span {
        margin: 5px;
    }
}

.iapp-entry-details-trend {
    font-family: "Futura Today Light", Arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
}


.iapp-entry-wrapper {
    height: 100%;
}

.iapp-entry-details-demographics {
    border: solid 1px $light-grey;
    width: 245px;

    @media (max-width: 950px) {
        float: right;
    }
}

.iapp-detail-summary {
    max-width: 300px;

    @media (max-width: 950px) {
        float: left;
    }
}

.iapp-entry-details-demographics svg {
    display: block;
    margin: 0 auto;
}


.iapp-demo-headers-female {color: $medium-grey;}
.iapp-demo-headers-male {color: $dark-grey;}


.iapp-entry-map {
    float: left;
    width: 654px;
}

.iapp-entry-map-svg {
    display: block;
    margin: 0 auto;
}
