/******
* Intro styles
******/

.iapp-politician-index-intro {
    background-color: $extra-light-grey;
    @include BoxShadowHelper(1);
    color: $dark-grey;
    height: 110px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 499;
}


.iapp-index-intro-chatter {
    font-family: "Futura Today Normal", Arial, sans-serif;
    font-size: 0.9em;
    margin: 0;
    max-width: 40em;
}

.iapp-index-intro-header {
    font-family: "Futura Today DemiBold", Arial, sans-serif;
    font-size: 1.2em;
    margin: 0;
}

.iapp-index-intro-sub-header {
    font-family: "Futura Today Normal", Arial, sans-serif;
    margin: 0;
}
