.iapp-politician-index-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100px;
    overflow: hidden;
    @media(min-width: 950px) {
        max-height: 208px;
    }
}


.iapp-politician-index {
    background-color: white;
    @include BoxShadowHelper(2);
    position: absolute;
    top: 110px;
    width: 100%;
    z-index: 5;
}

.iapp-politician-index-show-button {
    background-color: $blue;
    color: white;
    cursor: pointer;
    font-family: "Futura Today Light", Arial, sans-serif;
    opacity: 0.8;
    padding: 10px 0;
    position: relative;
    text-align: center;
    transition: opacity 500ms ease;
    width: 100%;
    z-index: 500;
    &:hover {
        opacity: 1;
    }
}


